.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.scanner {
  width: 640px;
  height: 480px;
  max-width: 100%;
}

.cameracontainer {
  width: 100%;
  height: 100%;
}
